Options -Indexes
<IfModule mod_env.c>
SetEnv API_TOKEN_LEGACY REPLACE_API_TOKEN_LEGACY
SetEnv DB_HOST REPLACE_DB_HOST
SetEnv DB_PORT REPLACE_DB_PORT
SetEnv DB_NAME REPLACE_DB_NAME
SetEnv DB_USER REPLACE_DB_USER
SetEnv DB_PASS REPLACE_DB_PASS
SetEnv ALLOWED_ORIGINS https://refatishere.free.nf
SetEnv PLANNER_SIDECAR_URL REPLACE_PLANNER_SIDECAR_URL
SetEnv PLANNER_SIDECAR_TOKEN REPLACE_PLANNER_SIDECAR_TOKEN
</IfModule>
